<div class="topbar">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col">
                <a href="/">
                    {% include 'components/logo.njk' %}
                </a>
            </div>
            <div class="col">
                {% include 'components/nav.njk' %}
            </div>
        </div>
    </div>
</div>
<header></header>