.topbar {
  position: sticky;
  top: 0;
  left: 0;
  background: $dark;

  nav {
    justify-content: flex-end;
  }

  a.topbar__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    svg {
      height: 2rem;
      width: auto;
    }
  }

  nav {
  }
}

header {
  background-color: $dark;
  padding-block: 3rem;
}
